*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}
.js-input{
  height: 32px;
  background-color: rgb(249, 255, 251);
  
}
button{
  padding: 8px 16px;
  border: none;
  color: white;
  background-color: black;
  margin: 10px;
  border-radius: 4px;
  width: 72px;
  height: 32px;
  
  transition: color .4s ease-in-out;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.767);
  
}
p{
  font-size: 1 rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
   
}
.display-buttons{
  display: flex;
  align-items: center;
  justify-content: left;
}
.display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  

}
.done-paragraph{
  text-decoration: line-through;
  background-color: rgb(0, 128, 0);
}

